body{
    padding: 15px;
    background-color: rgb(0, 153, 255);
    font-family: sans-serif;
}

#title{
    padding: 10px;
    font-size: 36px;
    border: 2px solid white;
    width: 250px;
}

#todo-header{
    font-size: 24px;
}

ul{
   list-style: none;
   padding-left: 0;
   width: 250px; 
}

li{
    color: black;
    background-color: rgba(255,255,255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}